/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .top-image{
    min-height: 250px;
    background-image:url("../public/images/background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile-image {
    height: 150px;
    width: 150px;
    position: relative;
    top: -75px;
    border: 5px solid white;
    object-fit: cover;
    border-radius: 50%;
  }
.edit{
  margin: 10px;
  padding: 5px;
  color: #555;
  transition: 0.4s;
}
.edit:hover{
  color: #17a2b8;
  background-color: rgb(221, 221, 221);
}